@tailwind base;

@layer base {
    a {
        @apply text-ehu-blue;
    }
}

@tailwind components;
@tailwind utilities;

.fauna-one-regular {
    font-family: "Fauna One", serif;
    font-weight: 400;
    font-style: normal;
}

.copse-regular {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.copse-regular {
    font-family: "Copse", serif;
    font-weight: 400;
    font-style: normal;
}
